.jumbotron {

	background-color: #9a006d;
	color: white;
	margin-top:53px;

}

.btn-Hoteles {

	background-color: #2897ae;
}

.btn-Secundario-Hoteles {

	background-color: gray;
}

.btn-contacto{


}

footer{

	padding: 10px 10px 0 10px;
	background: #9a006d;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;

}

.r1{

	margin-left: 0px;
	margin-right: 0px;
}

.card-hotel{

	flex: 1 310px;
	margin-top: 10px;

}

.fuente-piepagina{

	color: white;
}

.boton-reservar{

	width: 100%;

}

.footers-address-icon{
	padding-right: 10px;
}


.btn_icon{
	padding-right: 10px;
}

.thead-precios{

	background-color: #2897ae;
	color: white;
	border-top: 2px solid #dee2e6;
}

.th-precios{

	text-align: center;
}

.tr-precios{
	text-align: center;
}

.tbody-precios{
	border-bottom: 2px solid #dee2e6;
	border-left: 2px solid #dee2e6;
	border-right: 2px solid #dee2e6;
}

.tab-content{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.span-nosotros{
	border:#dae0e5 5px ridge;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 150px;
	margin-right: 150px;
}

.rows-informativos{
	padding-top: 20px;
}

.collapse-hoteles{
	cursor: pointer;
	font-weight: bold;
}

.div-masInfo{
	padding-top: 10px;
}


.btn-tarjeta {

    border: black;
	background-color: #2897ae;
	color: white;
}


.btn-link-tarjeta {
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.btn-link-tarjeta:hover {
  color: #0056b3;
  text-decoration: underline;
}

.btn-link-tarjeta:focus, .btn-link-tarjeta.focus {
  text-decoration: underline;
  box-shadow: 0 0 0 0.2rem #2897ae;
}

.btn-link-tarjeta:disabled, .btn-link-tarjeta.disabled {
  color: #6c757d;
  pointer-events: none;
}


.carousel-inner img {
    width: 100%;
    max-height: 300px;
}